
<div class="container">
  <div fxLayout="row" fxLayoutAlign="center center" class="content">
    <mat-card class="card">
      <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutAlign="center center">
        <h3>Recent Jobs</h3>
      </mat-card-title>

      <div fxLayout="row" fxLayoutAlign="0 center">
        <p *ngIf="tableData">{{tableData.length}}</p>
        <mat-icon class="refresh-icon" aria-hidden="false" aria-label="Refresh Data" (click)="refreshData()">refresh</mat-icon>
      </div>
      <mat-card-content>
          <table mat-table [dataSource]="this.tableData" class="mat-elevation-z8">

            <ng-container matColumnDef="url">
              <th mat-header-cell *matHeaderCellDef> URL </th>
              <td mat-cell *matCellDef="let jobSummary" class="mat-column-url">
                {{jobSummary.url}}
              </td>
            </ng-container>

            <ng-container matColumnDef="mime">
              <th mat-header-cell *matHeaderCellDef> Mime </th>
              <td mat-cell *matCellDef="let jobSummary">
                <span *ngIf="jobSummary.mime">{{jobSummary.mime}}</span>
                <span *ngIf="!jobSummary.mime">text/html</span>
              </td>
            </ng-container>

            <ng-container matColumnDef="created_at">
              <th mat-header-cell *matHeaderCellDef> Started </th>
              <td mat-cell *matCellDef="let jobSummary"> {{jobSummary.created_at | date:'MM/dd/yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef> Status </th>
              <td
                mat-cell
                *matCellDef="let jobSummary">

                <div
                  [ngClass]="['status-column-div', statuses[+jobSummary.last_scrape_status]]">
                  {{statuses[+jobSummary.last_scrape_status]}}
                </div>

              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row
                *matRowDef="let jobSummary; columns: displayedColumns;"
                class="element-row"
                (click)="onRowClick(jobSummary)"></tr>
          </table>
      </mat-card-content>
    </mat-card>
  </div>
</div>
